.top_full_content{
    background: white;
     
     
}
.top_full_content .nav-link{
    color: #313450;
    margin: 0 .5rem;
}
.top_full_content .active{
    color: #29bffe;
}
.top_full_content:nth-child(1){
    padding-left: 15px;
}

/*  */