.App {
  display: flex;
  /* text-align: center; */
  justify-content: center;
   
  height: 100vh; 
  background: url('./background_without_green.jpg');
  background-size: cover; 
  background-position: center center;
}